<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="text-center">Product Count</h3>
          <p><h4 class="text-center"><%= @product_count %></h4></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="text-center">Category Count</h3>
          <p><h4 class="text-center"><%= @category_count %></h4></p>
        </div>
      </div>
    </div>
  </div>
</section>
